<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ShoppingApp">
    <head>
        <title>Shopping Cart</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/ngStorage.min.js"></script>
        <script src="js/shopping.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
     <body ng-controller="ShoppingCartController as cartCtrl">
        <div ng-include="'menu.html'"></div>
        
        <h1>Shopping Cart</h1>
        <table class="table" ng-if="cartCtrl.totalPrice <= 0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in cartCtrl.items">
                <td>{{item.product.name}}</td>
                <td>${{item.product.listPrice}}</td>
                <td>{{item.quantityPurchased}}</td>
                <td>${{item.quantityPurchased * item.product.listPrice}}</td>
            </tr>
            </tbody>        
        </table>
        <div class="jumbotron jumbotron-fluid">
        <div  class="text-center">
          <h1 class="display-4">Total Cost</h1>
          <p class="lead">{{cartCtrl.totalPrice | currency}}</p>
          <button ng-if="this.cartCtrl.totalPrice >= 0" ng-click="cartCtrl.checkOutCart()">Check Out Cart</button>
          <p ng-if="cartCtrl.totalPrice <= 0">Cart empty</p> 
          <p ng-if="custCtrl.signedIn">signed in</p> 
        </div>
      </div>

      
    </body>
</html>
